<div	class="card-content">
  <div	class="card-img">
    <img ngSrc="./assets/images/img-playa1.png" alt="Img default" width="256" height="256">
    <span>
      <h4>{{ destination.name }}</h4>
    </span>
  </div>
  <div class="card-desc">
    <h3>{{ destination.name }}</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor
      quo, perspiciatis voluptas totam</p>
    <a href="#" class="btn-card" (click)="favorite()">Marcar cómo favorito</a>
    <span [style.display]="destination.isSelected() ? '' : 'none'">- Favorito -</span>
  </div>
</div>
